/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\

    Colors

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\
*/

$selection: #e6758c;
$light-gray: #efefef;
$dark-gray: #333;
$white: #fff;
$light-blue: #09b5fb;
$dark-blue: #0493cd;

$code: #d14;
$code-background: #f7f7f9;
$code-border: #e1e1e8;