<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>WP Gist</h1>
                <h2>GitHub Gist's for WordPress</h2>
                <img src="images/png/wp-gist-screenshot.png" title="WP Gist Screenshot" />
            </div>
        </div>
    </div>
</header>