<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="http://manovotny.com/" title="Michael Novotny">
                    <ul class="brand">
                        <li>
                            <div class="michael-novotny-logo-white"></div>
                        </li>
                        <li class="brand-name">
                            Michael Novotny
                        </li>
                    </ul>
                </a>
                <ul class="social">
                    <li>
                        <a href="http://twitter.com/manovotny" title="Follow Michael Novotny on Twitter" target="_blank">
                            <div class="social-twitter"></div>
                        </a>
                    </li>
                    <li>
                        <a href="http://github.com/manovotny" title="Follow Michael Novotny on GitHub" target="_blank">
                            <div class="social-github"></div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:manovotny@gmail.com?subject=Hello!" title="Contact Michael Novotny">
                            <div class="social-email"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{{ page.base_url }}js/script.min.js?ver=2.2.0"></script>