/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\

    Placeholders

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\
*/

/* Clearfix
---------------------------------------------- */

%clearfix {

    &:before,
    &:after {

        content: ' ';
        display: table;

    } // &:after, &:before

    &:after {

        clear: both;

    } // &:after

} // clearfix