/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\

    Admin styles.

/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\
*/

@import "placeholders";

.wp-gist-shortcode-notice {

    background-color: #fcf3ef;
    border: 1px solid #e5e5e5;
    border-left: 4px solid #d54e21;
    margin: 45px 20px 0 0;
    padding: 10px;

    .message {

        display: inline-block;
        float: left;
        margin-top: 5px;

    } // .message

    .learn-more {

        display: inline-block;
        margin-left: 5px;

    } // .learn-more

    .button {

        float: right;

    } // .button

    @extend %clearfix;

} // .wp-gist-admin-notice