.wp-gist-shortcode-notice {
    @extend %scut-clearfix;

    background-color: $shortcode-notice-background-color;
    border: 1px solid $shortcode-notice-border-color;
    border-left: 4px solid $shortcode-notice-border-color-warning;
    margin: 45px 20px 0 0;
    padding: 10px;

    .message {
        display: inline-block;
        float: left;
        margin-top: 5px;
    }

    .learn-more {
        display: inline-block;
        margin-left: 5px;
    }

    .button {
        float: right;
    }
}
